@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFBF4;
  --foreground: #d2bdac;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #222222;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
